body {
    background-image: url(../img/img1.jpg);
    /* background-size: cover; */
    text-align: center;  
}
.board {
  background-color: rgb(40, 43, 43);  
}
.board td {
    border: 1px solid rgb(185, 162, 162) ;
    height: 80px;
    width: 80px;
    
}
